#img-svg {
  margin: auto;
  margin-top: 16px;
  height: 67px;
  width: 98px;
}

#file-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#file-loader img {
  height: 60px;
}

#file-loader p {
  text-align: center;
  color: #fff;
  font-size: 17px;
}

#loading-img {
  height: 27px;
  width: 27px;
  margin-right: 21px;
}

#dropbox svg,
#filepicker svg,
.boxes svg {
  height: 24px !important;
  width: 24px !important;
}

.file-picker-dropdown a,
.file-picker-dropdown button {
  border: none;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 24px;
  list-style: none;
  height: 54px;
}

.file-picker-dropdown {
  width: 213px;
  position: absolute;
  background: #fff;
  top: 111%;
  right: 0;
  display: none;
  box-shadow: rgb(26 26 26 / 20%) 0 0 12px;
  border-radius: 4px;
}

.file-pick-dropdown i {
  margin: 0;
}

.boxes {
  background: #fff;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px 24px;
  height: 54px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  justify-content: center;
  font-size: 15px;
  font-weight: 800;
  color: #000;
}

.file-pick-dropdown {
  color: #000;
  cursor: pointer;
  display: inline-flex;
  background: #fff;
  height: 54px;
  border-left: 1px solid rgba(95, 88, 88, 0.75);
  padding: 13px 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
  position: relative;
}

.compress-img-box {
  background-color: #fff;
  width: 100%;
  border-radius: 0.75em;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 5px 16px -2px rgb(42 115 217 / 20%);
  font-size: 16px;
  height: auto;
  display: none;
}

.custom-box {
  padding: 15px;
}

.inner-box {
  border: 1px dashed rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.1);
  padding: 40px;
  min-height: 300px;
}

.file-name {
  padding: 1.3em 1em;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-name span {
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 1.125em;
  text-align: center;
  width: 100%;
  line-height: 1.2;
  word-break: break-word;
}

.range-div input {
  position: absolute;
  width: 234px;
  transform-origin: right top;
  transform: translateX(-100%) rotate(-90deg);
  transform: translate3d(-100%, 0, 0) rotate(-90deg);
  margin-left: -10px;
  transition: opacity 0.2s ease-out;
  margin-top: 10px;
  -webkit-appearance: none;
}

.range-div input::-webkit-slider-thumb {
  -webkit-appearance: none;
  padding: 4px;
  background-size: contain;
  border: 2px solid #46b3fe;
  background: #46b3fe
    url('https://codyhouse.co/demo/image-comparison-slider/img/cd-arrows.svg')
    no-repeat center center;
}

.range-div input::-webkit-slider-runnable-track {
  background: #46b4fe59;
}

#dropfile {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  color: #fff;
}

.image-slider {
  height: 320px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image-slider img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 8px;
}

.image-slider #original-img {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  border-right: 1px solid #fff;
  background: #fff;
}

#slider {
  position: relative;
  -webkit-appearance: none;
  width: calc(100% + 40px);
  height: 100%;
  margin-left: -20px;
  background-color: transparent;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  border: 3px solid white;
  border-radius: 50%;
  background-size: contain;
  cursor: col-resize;
  background: #46b3fe
    url('https://codyhouse.co/demo/image-comparison-slider/img/cd-arrows.svg')
    no-repeat center center;
}

.preview-cont {
  padding: 20px;
}

.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

@media (max-width: 768px) {
  .range-div {
    width: 100%;
  }

  .range-div input {
    transform: translate3d(0%, 0, 0) rotate(0deg);
    position: initial;
    width: 100%;
  }

  .quality {
    padding-top: 10px;
  }
}

#quality-input {
  background: none;
  border: none;
  cursor: text;
  font-size: 1em;
  letter-spacing: 0.04em;
  height: 1.875em;
  border: 2px solid #46b3fe;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  box-shadow: inset 0 0 0 #46b3fe;
  transition: opacity 0.2s ease-out, box-shadow 0.2s ease-out;
  flex-shrink: 0;
  margin-bottom: 0.625em;
  color: #38404b;
  -webkit-text-fill-color: #38404b;
}

.download-wrapper {
  display: flex;
  justify-content: flex-end;
}

#download-btn {
  background: #46b3fe;
  border: 2px solid #46b3fe;
  font-size: 16px;
}
