.container2 {
  width: 100%;
  height: 300px;
  margin: auto;
}
#heading_container {
  width: 100%;
  padding-right: 22px;
  padding-left: 22px;
  height: 110px;
  margin-top: 7px;
}
.save_btn,
.cancel_btn {
  cursor: pointer;
  height: 51px;
  width: 123px;
  margin-top: 16px;
  background: #ebc505;
  padding-top: 11px;
  text-align: center;
  border-radius: 46px;
  color: black;
  font-size: 19px;
  font-weight: bold;
}

.heading_content {
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
}
.cancel_btn {
  color: white;
  background: #353535;
}
.cancel_btn:hover {
  color: #353535;
  background: white;
}
.save_btn:hover {
  color: white;
  background: green;
}
.function_btns {
  height: 48px;
  cursor: pointer;
  color: white;
  margin: 26px;
  display: flex;
  padding-top: 10px;
  margin-top: 18px;
  justify-content: center;
}
.function_btns div {
  margin-left: 10px;
  font-size: 19px;
}

#crop_btn img {
  height: 25px !important;
  margin-top: 2px !important;
}

#output_div {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 537px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
#output_div img,
#output_div #clipped_img {
  max-height: 519px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#bottom_div {
  overflow: hidden;
  margin-top: 10px;
  width: 90%;
  overflow: hidden;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  background-image: linear-gradient(90deg, black 0, black 2%, transparent 2%),
    linear-gradient(180deg, black -2%, transparent 10%),
    linear-gradient(
      90deg,
      transparent 50%,
      white 50%,
      white 52%,
      transparent 52%
    ),
    linear-gradient(180deg, black 70%, transparent 70%),
    linear-gradient(
      90deg,
      transparent 10%,
      white 10%,
      white 12%,
      transparent 12%,
      transparent 20%,
      white 20%,
      white 22%,
      transparent 22%,
      transparent 30%,
      white 30%,
      white 32%,
      transparent 32%,
      transparent 40%,
      white 40%,
      white 42%,
      transparent 42%,
      transparent 60%,
      white 60%,
      white 62%,
      transparent 62%,
      transparent 70%,
      white 70%,
      white 72%,
      transparent 72%,
      transparent 80%,
      white 80%,
      white 82%,
      transparent 82%,
      transparent 90%,
      white 90%,
      white 92%,
      transparent 92%
    );
  background-size: 50px 20px;
  background-repeat: repeat-x;
  min-height: 20px;
  white-space: nowrap;
  font-size: 0;
  margin: 0;
  padding: 0;
}
.crop_label {
  color: white;
  font-size: 9px;
  padding-top: 2px;
  display: inline-block;
  width: 100px;
  margin-top: -5px;
  text-indent: 3px;
}
#upload_img {
  margin: auto;
  margin-top: 16px;
  height: 67px;
  width: 98px;
  margin-bottom: 30px !important;
}
.function_btns_outer {
  display: flex;
  margin: auto;
}
@media (max-width: 877px) {
  .function_btns {
    margin: 17px;
    margin-top: 17px;
  }
}

@media (max-width: 840px) {
  .function_btns_outer {
    display: flex;
    margin-top: 83px;
  }
  #heading_container {
    height: auto;
    padding-bottom: 35px;
  }
  .cancel_btn,
  .save_btn {
    height: 45px;
    width: 123px;
    font-size: 18px;
  }
  .function_btns {
    margin: 27px;
  }
  .save_btn {
    position: absolute;
    left: 0px;
  }
  .cancel_btn {
    position: absolute;
    right: 0px;
  }
  #output_div {
    height: auto;
    padding-bottom: 50px;
  }
}
@media (max-width: 583px) {
  .function_btns {
    margin: 19px;
  }
}
@media (max-width: 575px) {
  .function_btns div {
    font-size: 16px;
  }
  .function_btns_outer {
    display: block;
    text-align: center;
    margin-top: 86px;
    width: 100%;
  }
}
