#upload_img {
  margin: auto;
  margin-top: 16px;
  height: 67px;
  width: 98px;
}

.container2_inner {
  width: 100%;
  padding: 20px;
  height: auto;

  border: 2px solid black;
  border: 2px solid rgba(0, 0, 0, 0.125);
}

.header_div {
  border: 2px solid red;
  width: 100%;
  height: 100px;
}
.output_div {
  width: 100%;
  background: white;
  height: 500px;
  margin: Auto;
  display: grid;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  align-content: center;
  border-bottom-right-radius: 0px;
  margin-top: 44px;
  border-bottom-left-radius: 0px;
}
.filter_div {
  height: 140px;
  display: flex;
  margin-top: 8px;
}

.prev_button,
.next_button {
  display: grid;
  position: absolute;
  height: 149px;
  justify-content: center;
  align-content: center;
  width: 60px;
  top: 29px;
  background: white;
  cursor: pointer;
  border-radius: 5px;
}
.prev_button {
  left: 22px;
}
.next_button {
  right: 22px;
}
.prev_button img,
.next_button img {
  height: 35px;
  width: 35px;
}

.filter_options {
  height: 180px;
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 2px;
  padding-left: 80px;
  scroll-behavior: smooth;
}
.filter_box {
  height: 100%;
  width: 142px;
  display: inline-block;
  margin-left: 13px;
}
.filter_box img {
  height: 120px;
  width: 120px;
}
.filter_box p {
  margin-left: 39px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.filter_inner {
  height: 100%;
  width: 3000px;
}
.filter_options::-webkit-scrollbar {
  width: 50px;
}
.output_div img {
  max-height: 350px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.saving_div {
  width: 100%;
  height: 100px;
  background: white;
  padding-bottom: 66px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-right: 20px;
}
.saving_div a {
  font-weight: bold;
  width: 160px;
  padding-top: 10px;
  height: 46px;
  margin: 10px;
  margin-top: 20px;
}
.cancel {
  color: #00b8e6;
  border: 1px solid #00b8e6;
}
.save {
  background: #00b8e6;
  color: white;
}
.saving_div a:hover {
  font-weight: bold;
  border: 2px solid black;
}
@media (max-width: 782px) {
  .next_button,
  .prev_button {
    width: 50px;
  }
}
@media (max-width: 338px) {
  .red_box {
    margin-left: -5px;
  }
}
@media (max-width: 690px) {
  .filter_options {
    padding-left: 0px;
  }
  .next_button,
  .prev_button {
    display: none;
  }
  .filter_box {
    margin-left: -5px;
  }
}
@media (max-width: 450px) {
  .output_div {
    height: 350px;
  }
  .output_div img {
    width: 81%;
  }
}
