.success_alert {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0px;
  height: 63px;
  padding-top: 15px;
  font-size: 20px;
  right: 0;
  visibility: hidden;
  text-align: center;
}
#output_div_inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
}

#output_div_inner img {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  max-height: 440px;
}
#output_div {
  padding: 40px;
  background: #f0f0f0;
  border-radius: 20px;
}
.resize-options-h2 {
  text-align: left;
  padding-top: 10px;
  font-weight: 900;
  margin-bottom: 20px;
  font-family: system-ui;
}
.resize-options-div {
  height: 100%;
}
.resize-options-div input[type='text'] {
  margin-bottom: 20px;
}
#options_div {
  height: 100%;
}
.resize-options-div p {
  text-align: left;
}
.resize-options-div select {
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.btn-design {
  padding: 11px 24px 12px 24px;
  font-weight: 700;
  display: block;
  width: 148px;
  font-size: 15px;
  border-radius: 34px;
  text-decoration: none;
  cursor: pointer;
}
.btn-design:hover {
  text-decoration: none;
}
#preview {
  color: #000;
  background: #f0f0f0;
  margin-right: 10px;
}
#save {
  background: #0d66d0;
  color: #fff;
}
.custom-select {
  background: #fff url('/img/arrowdown.png') right 17px center/10px 10px
    no-repeat;
}
@media (max-width: 370px) {
  .buttons {
    flex-direction: column;
    width: 100%;
    gap: 28px;
  }
  .btn-design {
    width: 100%;
  }
  #output_div {
    padding: 35px 10px 35px 10px;
  }
}
/* .container2 {
  height: auto !important;
} */
