.container2 {
  height: 400px;
  width: 100%;
  margin: auto;
}
#icon {
  font-size: 100px;
  color: white;
}
#dropfile {
  font-size: 23px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

.frame {
  background: transparent;
  width: 90%;
  margin: auto;
  height: auto;
  margin-top: 10px;
  border-radius: 15px;
}

.up {
  margin: 10px;
  outline: none;
  color: black;
  box-shadow: 5px 5px black;
  width: 200px;
  outline: none;
  padding: 10px;
  background: white;
}
.up:hover {
  box-shadow: none;
}
#rotate:hover {
  box-shadow: none;
}

#nav {
  width: 80%;
  margin: auto;
  border: 3px solid white;
  height: 70px;
}

#download {
  margin-top: 20px;
}
.file {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.croppr-region {
  height: 100px;
}
#splitcomp2,
#splitcomp1 {
  height: auto;
  width: 50%;
}

#fadecomp1 {
  width: 100%;
  height: 500px;
  opacity: 0.5;
}
#pt {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#filteroption {
  padding: 15px 10px;
  width: 420px;
  border-radius: 10px;
  background: transparent;
  font-weight: bold;
  color: black;
  border: 3px solid white;
  outline: none;
}

@media (max-width: 580px) {
  #filteroption {
    width: 80%;
  }
}
#inp {
  margin: auto;
  width: 410px;
  height: 55px;
  background: transparent;
  color: white;
  outline: none;
  border: none;
  border: 2px solid white;
  margin-top: 30px;
}
#inp::placeholder {
  color: white;
}

#height,
#width {
  margin: auto;
  width: 350px;
  height: 50px;
  outline: none;
  color: white;
  background: transparent;
  border: 3px solid white;
  margin: 15px;
}
#height::placeholder {
  color: white;
}
#width::placeholder {
  color: white;
}
#range {
  width: 70%;
  margin: auto;
  font-size: 20px;
}

@media (max-width: 685px) {
  #height {
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 385px) {
  #height,
  #width {
    width: 90%;
  }
}

.boxes {
  padding: 13px 10px;
  width: 250px;
  font-size: 20px;
  background: white;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 349px) {
  .boxes {
    width: 80%;
  }
}
#content {
  visibility: hidden;
}
/* #inputbox {
  display: none;
} */

.boxes p {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}
#demo {
  visibility: hidden;
  background: green;
}
html {
  scroll-behavior: smooth;
}
#range {
  outline: none;
}
#message {
  color: yellow;
  font-size: 20px;
  margin-top: 20px;
}

#left {
  height: 380px;
  width: 100%;
  overflow: auto;
}

.watermarktext {
  width: 300px;
  height: 50px;
  margin: auto;
  display: inline-block;
  border-radius: 10px;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 430px) {
  .watermarktext,
  #wwidth,
  #wheight {
    width: 100%;
  }
}

@media (max-width: 693px) {
  .watermarktext,
  #wwidth,
  #wheight {
    margin-left: -5px;
  }
}

#download {
  padding: 15px 50px;
  border: 3px solid white;
  background: transparent;
  color: white;
  font-weight: bold;
  margin: auto;
  margin-left: 10px;
}

@media (max-width: 450px) {
  #clear {
    margin-top: 10px;
  }
}

#option {
  background: white;
  color: red;
  font-weight: bold;
  padding: 15px 90px;
  outline: none;
  border-radius: 10px;
}

.imgBox {
  width: 350px;
  height: 250px;
  border: 3px solid black;
  display: inline-block;
  margin-top: 100px;
  border-radius: 10px;
}

#error {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 510px) {
  #inp {
    width: 85%;
  }
}

#aboveCanvas {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin: auto;
}

@media (max-width: 530px) {
  #aboveCanvas {
    font-size: 24px;
  }
}

#compResult {
  width: auto;
  height: auto;
  border: 3px solid white;
}

#leftBox {
  width: 600px;
  height: auto;
  margin: auto;
  display: inline-block;
}

@media (max-width: 1197px) {
  #leftBox {
    margin-top: 30px;
  }
  #canvasContainer {
    margin-top: 20px;
  }
}

#rightBox {
  width: 400px;
  height: auto;
  margin: auto;
  display: inline-block;
}

.largecolorPicker {
  width: 240px;
  height: 40px;
}

label {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.memerange {
  width: 500px;
}

.rangeDiv {
  display: inline-block;
}
.smallcolorpicker {
  height: 50px;
  width: 20%;
}
input[type="number"] {
  height: 50px;
  width: 200px;
  float: left;
  outline: none;
}
.colorDiv {
  width: 45%;
}
.colorDiv input {
  width: 100%;
}
#canvasRange {
  width: 90%;
  margin-top: 20px;
}

#fontdiv {
  width: 100%;
}

#fontstyle {
  border-radius: 5px;
  height: 54px;
  width: 150px;
  outline: none;
}
.addingButton {
  display: inline-block;
  border: 3px solid white;
  padding: 13px 8%;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.addingButton:hover {
  color: white;
}
.strokeDiv {
  width: 45%;
  display: inline-block;
}
.strokeDiv input[type="number"] {
  width: 80%;
}

.memeSwitch {
  margin-top: 30px;
  display: inline-block;
}
#bold,
#italic,
#underline {
  padding: 15px;
}
.stylediv {
  display: inline-block;
  margin-left: 10px;
}

@media (max-width: 504px) {
  .strokeDiv input[type="number"],
  input[type="color"] {
    height: 40px;
  }
}
@media (max-width: 352px) {
  .addingButton {
    padding: 15px 7%;
  }
}

#two {
  margin-left: 15px;
}

#main-box {
  border: 7px solid white;
  border-radius: 20px;
  width: 95%;
  margin: auto;
  margin-top: 90px;
}
#memedownload {
  border: 3px solid white;
  padding: 13px 8%;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

#canvas {
  width: 100%;
  height: auto;
  border: 3px solid white;
}
@media (max-width: 1194px) {
  #leftBox {
    width: 100%;
  }
  #rightBox {
    width: 70%;
  }

  #canvas {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 689px) {
  #rightBox {
    width: 90%;
  }
}
@media (max-width: 465px) {
  #rightBox {
    width: 100%;
  }
}

#fontsize {
  outline: none;
}

#mainContainer {
  height: 1000px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid white;
}

#innerDiv {
  border: 2px solid green;

  height: 900px;
  width: 95%;
  margin: auto;
}
#leftDiv {
  border: 2px solid blue;

  display: inline-block;
  height: 900px;
  width: 350px;
  margin: auto;
}

#rightDiv {
  border: 2px solid black;

  height: 900px;
  width: 600px;
  margin: auto;

  /* display: inline-block; */
  float: right;
}

.compressInput {
  color: white;
  height: 50px;
  width: 300px;
  border: 2px solid white;
  background: transparent;
  border-radius: 10px;
  outline: none;
}
.compressInput::placeholder {
  color: white;
}

#beforeDiv {
  height: 400px;
  width: 100%;
  margin: auto;
  border-radius: 30px;
  border: 3px solid green;
}
#alignmentDiv {
  width: 90%;
  height: auto;
  border: 3px solid brown;
  margin: auto;
}

/* @media (max-width: 1180px) {
  #rightDiv {
    width: 580px;
  }
  .compressInput {
    height: 40px;
    width: 300px;
  }
  #leftDiv {
    width: 400px;
  }
}
@media (max-width: 1196px) {
  #rightDiv {
    width: 500px;
  }
  .compressInput {
    height: 40px;
    width: 250px;
  }
  #leftDiv {
    width: 300px;
  }
}

@media (max-width: 1009px) {
  #rightDiv {
    width: 450px;
  }
  .compressInput {
    height: 40px;
    width: 250px;
  }
  #leftDiv {
    width: 250px;
  }
} */

#beforeDiv h2 {
  color: white;
  font-weight: bold;
}
