#img-svg {
  margin: auto;
  margin-top: 16px;
  height: 67px;
  width: 98px;
}

#file-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#file-loader img {
  height: 60px;
}

#file-loader p {
  text-align: center;
  color: #fff;
  font-size: 17px;
}

#loading-img {
  height: 27px;
  width: 27px;
  margin-right: 21px;
}

#dropbox svg,
#filepicker svg,
.boxes svg {
  height: 24px !important;
  width: 24px !important;
}

.file-picker-dropdown a,
.file-picker-dropdown button {
  border: none;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 24px;
  list-style: none;
  height: 54px;
}

.file-picker-dropdown {
  width: 213px;
  position: absolute;
  background: #fff;
  top: 111%;
  right: 0;
  display: none;
  box-shadow: rgb(26 26 26 / 20%) 0 0 12px;
  border-radius: 4px;
}

.file-pick-dropdown i {
  margin: 0;
}

.boxes {
  background: #fff;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px 24px;
  height: 54px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  justify-content: center;
  font-size: 15px;
  font-weight: 800;
  color: #000;
}

.file-pick-dropdown {
  color: #000;
  cursor: pointer;
  display: inline-flex;
  background: #fff;
  height: 54px;
  border-left: 1px solid rgba(95, 88, 88, 0.75);
  padding: 13px 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
  position: relative;
}

.custom-box {
  padding: 15px;
}

.inner-box {
  border: 1px dashed rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.1);
  padding: 40px;
  min-height: 300px;
  width: 100%;
}
#dropfile {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  color: #fff;
}
.options-panel {
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 10px 30px;
  width: 100%;
}
.options-panel .title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 36px;
  color: #000;
  font-weight: 700;
  text-align: left;
}
.options-panel .description {
  width: 100%;
  font-size: 17px;
  color: #666;
  font-weight: 400;
  text-align: left;
}
.options-title {
  width: 100%;
  font-size: 17px;
  color: #666;
  font-weight: 400;
  text-align: left;
}
.download-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin: 12px 0;
  padding: 12px 0;
}
#download-button,
#mirror-button {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 14px 0;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 50px;
  background: #0050e5;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s;
  border: none;
}
#download-button svg,
#mirror-button svg {
  fill: #fff;
  margin-right: 4px;
  height: 20px;
  margin-bottom: 4px;
}
#mirror-button svg {
  width: 20px;
}
.divider {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}
.radio-label {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  margin-right: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 13px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.radio-label input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio-label {
  position: relative;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
  border-radius: 50%;
  margin-top: 3px;
}

.radio-label:hover input ~ .checkmark {
  background-color: #ccc;
}
.radio-label input:checked ~ .checkmark {
  background-color: #d92b2b;
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.radio-label input:checked ~ .checkmark:after {
  display: block;
}
.radio-label .checkmark:after {
  top: 8px;
  left: 8px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #fff;
}
.label-span {
  margin-left: 37px;
  font-size: 16px;
  margin-top: 4px;
  color: #666666;
}
canvas {
  max-width: 100%;
}
