nav .dropdown-menu {
  overflow-y: scroll !important;
  height: 70vh !important;
}
@media (min-width: 1200px) {
  .box-padding .flex-class {
    max-width: 900px;
  }
  .feature-content-box,
  .home-content-box {
    max-width: 900px;
    margin: auto;
  }
}
.footer {
  margin-bottom: 80px;
}
