#save {
  height: 40px;
  width: 150px;
  float: right;
  border-radius: 5px;
  outline: none;
  font-weight: bold;
}
#save_button_div {
  margin: auto;
  width: 100%;
  margin-top: -7px;
  height: 41px;
}
#qr_info_input {
  height: 239px;
  width: 101.2%;
  font-weight: bold;
  font-size: 20px;
  margin-left: -3.1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  outline: none;
  padding: 15px;
}
#qr_info_input::placeholder {
  font-size: 20px;
  font-weight: bold;
}
.container2 {
  width: 95%;
  height: auto;
  margin: auto;
}
#qr_image {
  border: 11px solid white;
  height: 321px;
  margin-top: 20px;
  border-radius: 5px;
  width: 39%;
  float: left;
}

#qr_input_select option {
  background: white;
  color: black;
  font-size: 22px;
}

#qr_info {
  border: 3px solid white;
  width: 59%;
  height: 321px;
  margin-top: 32px;
  border-radius: 5px;
  float: right;
  margin-top: 20px;
}
#qr_info_heading {
  width: 100%;
  height: 20%;
}
#qr_info_heading p {
  font-weight: bold;
  color: white;
  margin-top: 16px;
  font-size: 29px;
}
#qr_output {
  height: 254px;
  width: 76%;
  margin-top: 24px;
}
@media (max-width: 1085px) {
  #qr_output {
    width: 83%;
  }
}
@media (max-width: 1025px) {
  #qr_output {
    width: 87%;
  }
}
#qr_error {
  color: yellow;
  margin-top: 16px;
  font-size: 25px;
  width: 257px;
  margin: auto;
}
@media (max-width: 930px) {
  #qr_image,
  #qr_info {
    width: 95%;
    float: none;
    margin: auto;
    margin-top: 25px;
  }
  #save_button_div {
    width: 95.5%;
  }
  .container2 {
    height: 815px;
  }
  #qr_row {
    margin-top: 10px;
  }
  #qr_output {
    width: 297px;
  }

  #qr_image {
    margin-top: 18px;
  }
  #save_button_div {
    margin-top: 9px;
  }
}

#qr_output_span p {
  margin-top: 125px;
  font-size: 31px;
  color: white;
  font-weight: bold;
}
@media (max-width: 491px) {
  #qr_output {
    width: 250px;
    height: 217px;
  }
  #qr_image {
    height: 289px;
  }
  #qr_output_span p {
    margin-top: 109px;
  }
}
@media (max-width: 472px) {
  #qr_info_input {
    margin-left: -2.1px;
  }
}
@media (max-width: 411px) {
  #qr_output {
    width: 250px;
    height: 217px;
  }
  #qr_image,
  #qr_info,
  #save_button_div {
    width: 100%;
  }
}
@media (max-width: 395px) {
  #qr_output {
    width: 227px;
    height: 218px;
  }
}
@media (max-width: 377px) {
  #qr_info_heading p {
    font-size: 26px;
  }
}
#content {
  height: 495px;
  visibility: visible;
}
