#upload_img {
  margin: auto;
  margin-top: 16px;
  height: 67px;
  width: 98px;
}
#save_as select option {
  color: black;
}
#resize_quality select option {
  color: black;
}
.container2 {
  width: 100%;
  height: 300px;
}

#function_div {
  width: 100%;
  height: 460px;
  margin-top: 10px;
}
#saving_div {
  height: 115px;
  width: 100%;
}
.buttons {
  height: 45px;
  border: 3px solid #d3d3d3;
  width: 180px;
  display: inline-block;
  margin: 5px;
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
  font-size: 18px;
}
#save_button {
  color: white;
  background: #d3d3d3;
}
#reset_button {
  color: #d3d3d3;
}
.function_box {
  height: 100%;
  width: 50%;
  padding: 15px;
}
#output_div {
  float: left;
  padding-left: 46px;
}
#options_div {
  float: right;
  padding-right: 24px;
}
#output_div_inner {
  background-image: url('/img/transparent.png');
  height: 100%;
  border-radius: 5px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}
#output_div_inner img {
  max-width: 89%;
  max-height: 355px;
  margin-right: auto;
  margin-left: auto;
}
.input_div {
  display: inline-block;
  width: 49.5%;
  margin-top: 16px;
}
.input_div p {
  font-size: 18px;
  height: 21px;
  text-align: left;
  color: white;
}
.input_div input,
.input_div select {
  height: 45px;
  border: 1px solid white;
  width: 97%;
  background: transparent;
  float: left;
  margin-top: -2px;
  color: white;
  padding-left: 10px;
}
.input_div input::placeholder {
  color: white;
}
#file_name {
  width: 99.5%;
  margin-top: 0px;
}
#file_name input {
  width: 98.5%;
}

#save,
#preview {
  background: green;
  height: 50px;
  font-size: 17px;
  color: white;
  font-weight: bold;
  width: 156px;
  padding-top: 11px;
}
#preview {
  float: right;
  color: #ffbb33;
  background: white;
}
#save {
  width: 170px;
}
#preview:hover {
  color: white;
  background: transparent;
  border: 1px solid white;
}
#reset_btn {
  height: 49px;
  width: 60px;
  background: #ffbb33;
}
#dimensions_div {
  height: 110px;
  margin-top: 16px;
  width: 100%;
}
#dimensions_div p {
  color: white;
  font-size: 20px;
  text-align: left;
}
.dimension_btn {
  border: 1px solid white;
  width: 23%;
  height: 41px;
  padding-top: 8px;
  float: left;
  margin: 9.5px;
  color: white;
  margin-top: -5px;
  margin-left: 0px;
}
.dimension_btn:hover {
  color: #ffbb33;
  background: white;
}
#header_div {
  color: white;
  font-size: 35px;
  margin-top: -12px;
  padding-left: 45px;
  padding-top: 32px;
  height: 83px;
  font-weight: bold;
}
.success_alert {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0px;
  height: 63px;
  padding-top: 15px;
  font-size: 20px;
  right: 0;
  visibility: hidden;
  text-align: center;
}
#error {
  visibility: hidden;
  color: rgb(97, 26, 21);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background: rgb(253, 236, 234);
}
@media (max-width: 1166px) {
  .dimension_btn {
    margin: 3.5px;
  }
}
@media (max-width: 916px) {
  .dimension_btn {
    margin: 3px;
  }
}
@media (max-width: 900px) {
  .input_div input,
  .input_div select {
    width: 98.5%;
  }
  #file_name input {
    width: 99.5%;
  }
  .function_box {
    width: 100%;
  }
  #output_div {
    padding-left: 46px;
    padding-right: 46px;
  }
  #options_div {
    padding-right: 10px;
  }
  .dimension_btn {
    margin: 5.5px;
  }
  #footer_div {
    margin: auto;
  }
}
@media (max-width: 705px) {
  .dimension_btn {
    margin: 4.5px;
  }
}
@media (max-width: 605px) {
  .dimension_btn {
    margin: 3.5px;
  }
  #output_div {
    height: 360px;
  }
  #output_div_inner img {
    max-width: 89%;
    max-height: 280px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 505px) {
  .dimension_btn {
    margin: 2.5px;
    width: 47%;
  }
  #function_div {
    height: 477px;
  }
}

@media (max-width: 473px) {
  .input_div {
    width: 100%;
  }
  #options_div {
    height: auto;
  }
  .dimension_btn {
    width: 47%;
  }
  .container2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  #preview,
  #save {
    width: 100%;
  }
  #preview {
    margin-top: 10px;
    float: none;
  }

  #output_div {
    padding-left: 24px;
    padding-right: 24px;
  }
  #header_div {
    padding-left: 0px;
    text-align: center;
  }
  .input_div input,
  .input_div select {
    width: 100%;
  }
  #file_name input {
    width: 100%;
  }
}

@media (max-width: 370px) {
  #output_div {
    height: 273px;
  }
  #header_div {
    font-size: 31px;
    margin-top: -6px;
  }
  #output_div_inner img {
    max-width: 89%;
    max-height: 207px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 314px) {
  #header_div {
    font-size: 27px;
  }
  #footer_div {
    width: 100%;
  }
}
@media (max-width: 272px) {
  #header_div {
    font-size: 25px;
  }
}
#footer_div {
  height: auto;
  width: 99%;
  padding-top: 14px;
  padding-left: 46px;
  padding-right: 30px;
  padding-bottom: 40px;
}
option {
  color: black;
}
