.container2 {
  height: 300px;
}

.output_div {
  height: inherit;
}

.output_header {
  height: 90px;
  padding-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border: 2px solid #ebebeb;
}
.output_header .cross_icon {
  width: 20px;
  float: right;
  margin-top: -45px;
  cursor: pointer;
}
.footer_div {
  height: 75px;
  margin: auto;
  padding: 15px;
  width: 95%;
}
.footer_div a {
  background: #a29bfe;
  color: white;
  font-weight: bold;
  height: 45px;
  padding-top: 10px;
  width: 140px;
}
#reset {
  float: left;
  background: #d3d3d3;
}
#save {
  float: right;
}
.rotate_info {
  width: 210px;
  height: 45px;
  border-radius: 5px;
  float: none;
}
.rotate_info div {
  width: 50%;
  height: inherit;
  background: #a29bfe;
  text-align: center;
  font-size: 18px;
  padding-top: 8px;
  font-weight: bold;
}
#rotate_label {
  float: left;
  color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
#rotate_value {
  float: right;
  background: white;
  border: 1px solid #d3d3d3;
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.middle_div {
  height: 470px;
  display: grid;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 70px;
  border: 2px solid #ebebeb;
}

.middle_div img {
  max-height: 360px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 7px 5px rgb(0 0 0 / 20%);
}
.options_div {
  width: 100%;
  height: 100px;
  border: 2px solid #e1e1e1;
  padding-left: 10px;
  padding-right: 22px;
}
.options_div .rotate_btns {
  float: left;
  border: 1px solid black;
  width: 79px;
  text-align: center;
  height: 60px;
  border-radius: 7px;
  margin-top: 18px;
  padding-top: 13.5px;
  cursor: pointer;
  margin-left: 15px;
}
.options_div .rotate_btns img {
  height: 30px;
  width: 30px;
}
.options_div .rotate_range {
  height: 60px;
  width: 62.5%;
  margin-top: 13px;
  float: left;
  padding-left: 30px;
  border-radius: 7px;
  padding-right: 30px;
}
.options_div .rotate_range input {
  width: 100%;
}
.options_div .rotate_range span {
  font-size: 22px;
  font-weight: bold;
}
.rotate_submit {
  height: 53px;
  width: 20%;
  background: #a29bfe;
  text-align: center;
  padding-top: 13px;
  font-size: 19px;
  color: white;
  border-radius: 5px;
  float: right;
  margin-top: 22px;
  font-weight: bold;
  cursor: pointer;
}
.rotate_submit img {
  height: 15px;
  width: 19px;
  margin-top: -4px;
  margin-left: 1px;
}
#upload_img {
  margin: auto;
  margin-top: 16px;
  height: 67px;
  width: 98px;
}
@media (max-width: 1170px) {
  .rotate_submit {
    width: 18%;
  }
}
@media (max-width: 1062px) {
  .rotate_submit {
    width: 16%;
  }
}
@media (max-width: 971px) {
  .options_div {
    height: 175px;
    padding-right: 10px;
  }
  .rotate_submit {
    width: 98%;
    margin: auto;
    margin-top: 101px;
    float: none;
  }
  .options_div .rotate_range {
    width: 75%;
    float: right;
    padding-right: 0px;
    margin-top: 17px;
    margin-right: 12px;
  }
}
@media (max-width: 884px) {
  .options_div {
    height: 337px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 11px;
    border-radius: none;
  }
  .options_div .rotate_range {
    height: 74px;
    margin: auto;
    margin-top: 24px;
    width: 350px;
    padding-left: 0px;
    float: none;
  }
  .options_div .rotate_btns {
    float: none;
    width: 350px;
    margin: auto;
    margin-top: 13px;
  }
  .container2 {
    width: 73%;
    margin: auto;
  }
  .rotate_submit {
    width: 100%;
    margin: auto;
    padding-top: 17px;
    height: 60px;
    margin-top: 18px;
  }
  @media (max-width: 490px) {
    .options_div .rotate_btns,
    .options_div .rotate_range {
      width: 77%;
    }
  }
  @media (max-width: 360px) {
    .cross_icon {
      display: none;
    }
    .rotate_info {
      width: 95%;
      margin: auto;
    }
  }
}
