@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@mixin flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin Shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@mixin flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainUIColor: white;
  --mainUIColorSecondary: white;
}
.socialMediaResizer {
  width: 100%;
  min-height: fit-content;
  .Landing {
    width: 100%;
    height: 500px;
    @include flexColumn();
    margin-top: 5%;

    // margin-top: 15%;
    // display: none;

    .title_logo {
      width: 100%;
      height: 100px;
      @include flexRow();
      // justify-content:  space-around;
      gap: 10px;
      .LandingIcon {
        width: 30px;
        object-fit: contain;
      }
      .Title {
        width: fit-content;
        font-size: 24px;
        color: #3b3b3b;
        font-family: "open sans";
        font-weight: lighter;
      }
    }
    .info {
      color: #707070;
      font-size: 18px;
      background: #ffffff;
      font-family: "open sans";
      font-weight: lighter;
    }
    .Container {
      position: relative;
      width: 80%;
      margin-top: 50px;
      height: 300px;
      background: var(--mainUIColor);
      padding: 1%;
      .ProgressInfo {
        display: none;
      }
      .ProgressBar {
        display: none;
      }

      .FinalButtons {
        width: 450px;
        height: 50px;
        @include flexRow();
        justify-content: space-around;
        display: none;
        .FileDownloadButton,
        .FilePreview {
          width: 200px;
          height: 50px;
          text-decoration: none;
          @include flexColumn();

          background: var(--mainUIColor);
          color: white;
          font-size: 18px;
          transition: 0.3s;
          &:hover {
            border: 1px solid var(--mainUIColor);
            color: #353535;
            background: white;
            cursor: pointer;
          }
          z-index: 1;
        }
      }
      .innerContent {
        width: 100%;
        height: 100%;
        border: 1px dashed #3535355b;
        @include flexColumn();
        // justify-content: space-around;
        background: var(--mainUIColorSecondary);

        // border-radius: 10px;
        // @include Shadow();

        .dropinfo {
          position: absolute;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.993);
          bottom: 20px;
          font-family: "open sans";
          font-weight: lighter;
        }

        .InputBox {
          user-select: none;
          width: 200px;
          height: 50px;
          @include flexRow();
          background: white;
          border-radius: 6px;
          justify-content: space-around;
          align-self: center;
          @include Shadow();
          // position: absolute;
          // top: 0;
          // left: 0;
          z-index: 1;

          .Button {
            width: 100%;
            height: 100%;

            .InputButton {
              width: 200px;
              height: 50px;
              text-decoration: none;
              @include flexColumn();
              background: white;
              font-size: 18px;
              color: #353535;
              transition: 0.3s;
              font-family: "Open sans";
              &:hover {
                border: 1px solid white;
                background: var(--mainUIColor);
                color: white;
                cursor: pointer;
              }
            }
          }
        }
        .UploadIcon {
          width: 30px;
          object-fit: contain;
        }

        .Information {
          margin-top: 5%;
          color: white;
          font-size: 16px;
          // display: none;
        }
      }
    }
    .ContainerOnloading {
      background: white;
      border: 1px solid #3535355b;
      padding: 0;
      @include flexColumn();
      position: relative;
      .ProgressInfo {
        width: 300px;
        height: 200px;
        display: inherit;
        @include flexColumn();
        justify-content: space-evenly;
        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
        }
        h3 {
          font-size: 18px;
          color: #353535;
          font-family: "Open sans";
        }
      }
      .ProgressBar {
        width: 0%;
        height: 10px;
        border-top: 5px solid #3d99f5;
        position: absolute;
        top: 0;
        left: 0;
        display: inherit;
      }
      .innerContent {
        display: none;
      }
    }
  }

  .workspace {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: none;
    .topDiv {
      // padding-top: 5%;
      width: 100%;
      height: 45vh;
      background: white;
      @include flexColumn();
      align-items: flex-start;
      padding-left: 5%;
      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
      }
      h3 {
        margin-top: 5%;
        font-size: 36px;
        color: white;
        font-family: "open sans";
      }
      p {
        width: 50%;
        margin-top: 2%;
        color: white;
        font-family: "open sans";
        text-align: left;
      }
    }

    .Previews {
      padding-left: 5%;
      padding-top: 10%;
      width: 100%;
      // padding-left: 5%;
      padding-bottom: 30vh;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 20px;
      background: rgb(245, 245, 245);
      .ImageWrap {
        width: fit-content;
        height: fit-content;
        padding: 20px;
        position: relative;
        border-radius: 10px;
        border: 1px solid white;
        transition: 0.2s;
        background: white;
        h4 {
          font-size: 16px;
          font-family: "open sans";
          font-weight: lighter;
          width: 70%;
          height: 50px;
        }
        p {
          width: 70px;
          height: 20px;
          position: absolute;
          right: 20px;
          bottom: 20px;
          font-family: "open sans";
          font-size: 12px;
          background: #4242429d;
          border-radius: 6px;
          color: white;
          @include flexRow();
        }
        .checkBox {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .imagePreview {
          margin-top: 10px;
          display: block;
          max-width: 100%;
        }
        &:hover {
          // border:1px solid #646464;
          box-shadow: rgba(117, 117, 117, 0.336) 0px 19px 43px;
          transform: translate3d(0px, -1px, 0px);
        }
        .editButton {
          margin-top: 10px;
          width: 70px;
          height: 30px;
          border-radius: 20px;
          border: 2px solid #8e5dff;
          background: white;
          color: #353535;
          font-size: 16px;
          transition: 0.2s;
          color: #8e5dff;
          @include flexColumn();
          &:hover {
            background: #8e5dff;
            color: white;
            box-shadow: 0 0 4px #a57eff;
          }
        }
      }
    }
    .overlay {
      width: 100%;
      height: 101%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: rgba(59, 59, 59, 0.884);
      @include flexColumn();
      display: none;
      .Container {
        // margin-top: 5%;
        width: 80%;
        height: 90%;
        background: white;
        @include flexColumn();
        border-radius: 10px;
        // margin-bottom: 5%;
        .TopBar {
          width: 100%;
          height: 20%;
          @include flexColumn();
          position: relative;
          align-items: flex-start;
          padding-left: 2%;
          h3 {
            color: #3b3b3b;
            font-family: "Open sans";
          }
          img {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            height: 20px;
            object-fit: contain;
            cursor: pointer;
          }
          border-bottom: 1px solid #50505052;
        }
        .infoContainer {
          width: 100%;
          height: 80%;
          @include flexRow();
          .leftContainer {
            width: 55%;
            height: 100%;
            @include flexColumn();
            justify-content: space-around;
            p {
              min-height: 12px;
              font-family: "Open sans";
              font-size: 14px;
            }
            .imgWrap {
              width: 100%;
              height: 80%;
              border-radius: 10px;
              background: white;
              img {
                display: block;
                width: 100%;
              }
            }
          }

          .information {
            width: 40%;
            height: 100%;
            @include flexColumn();
            align-items: flex-start;
            gap: 10px;
            padding-left: 30px;
            .topBox {
              width: 100%;
              height: 20%;
              @include flexColumn();
              align-items: flex-start;
              h4 {
                font-size: 24px;
                font-family: "open sans";
                color: #3b3b3b;
              }
              p {
                text-align: left;
                font-weight: bolder;
                color: #6b6b6b;
                font-family: "Open sans";
              }
            }
            // .description{
            //     width: 90%;
            //     text-align: left;
            // }
          }
          .downloadCurrentSize {
            width: 180px;
            height: 50px;
            border-radius: 20px;
            border: 2px solid #8e5dff;
            background: white;
            color: #353535;
            font-size: 16px;
            transition: 0.2s;
            color: #8e5dff;
            &:hover {
              background: #8e5dff;
              color: white;
              box-shadow: 0 0 8px #a57eff;
            }
          }
        }
      }
    }
  }
  .DownloadButtons {
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    @include flexRow();
    gap: 20px;
    z-index: 10;
    background: white;
    box-shadow: 0 -1px 5px rgba(155, 155, 155, 0.336);
    display: none;
    button {
      width: 200px;
      height: 50px;
      border-radius: 10px;
      border: 2px solid #8e5dff;
      background: white;
      color: #353535;
      font-size: 16px;
      transition: 0.2s;
      color: #8e5dff;
      @include flexColumn();
      &:hover {
        background: #8e5dff;
        color: white;
        box-shadow: 0 0 4px #a57eff;
      }
    }
  }
}

.icon-scroll {
  width: 30px;
  height: 50px;
  box-shadow: inset 0 0 0 1px #3498db;
  border-radius: 25px;
  position: relative;
}
.icon-scroll:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #3498db;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
@media (max-width: 600px) {
  .socialMediaResizer .workspace .Previews {
    padding-left: 2%;
    grid-template-columns: auto;
  }
  .socialMediaResizer .DownloadButtons {
    bottom: 60px;
  }
  .socialMediaResizer .DownloadButtons button {
    width: 150px;
  }
  .socialMediaResizer .workspace .overlay .Container {
    margin-top: 0%;
    width: 100%;
    height: 100%;
  }
  .socialMediaResizer .workspace .overlay .Container .TopBar {
    width: 100%;
    height: 30%;
  }
  .socialMediaResizer .workspace .overlay .Container .infoContainer {
    width: 100%;
    height: 70%;
  }
  .socialMediaResizer .workspace .overlay .Container .TopBar img {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .socialMediaResizer
    .workspace
    .overlay
    .Container
    .infoContainer
    .downloadCurrentSize {
    width: 100px;
    height: 40px;
  }
  .icon-scroll {
    display: none;
  }
}
