input,
select,
button {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

#dropfile {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  color: white;
}
#svgcontainer {
  height: 1px;
  width: 1px;
  visibility: hidden;
}
#upper-loader {
  width: 0%;
  height: 13px;
  background: white;
}
.frame {
  background: red;
  border: 1px solid white;
  width: 80%;
  height: 350px;
  margin: auto;
}
#demo {
  visibility: hidden;
}

.up {
  margin-left: 10px;
  color: white;
  border: 3px solid white;
  width: 200px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

#loader-box {
  background: url('../spinner.gif');
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

#nav {
  width: 80%;
  margin: auto;
  border: 3px solid white;
  height: 70px;
}

#errorMessage {
  color: yellow;
  font-size: 25px;
  text-align: center;
}

.file {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

#inp {
  margin: auto;
  width: 300px;
  height: 47px;
  border-radius: 10px;
  margin: 10px;
}

.boxes {
  background: #fff;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 15px 24px;
  height: 54px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  justify-content: center;
  font-size: 17px;
  font-weight: 800;
  margin-top: -14px;
}

#content {
  visibility: hidden;
}

.boxes p {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}

img {
  max-width: fit-content;
}

.modal-backdrop {
  display: none;
}

body {
  display: block !important;
}

pre {
  display: none;
  overflow: visible !important;
}

#slider {
  position: relative;
  margin: 0;
  width: 800px;
}

@media (max-width: 900px) {
  #slider {
    position: relative;
    margin: 0;
    width: 300px;
  }
}

#bottom {
  position: absolute;
  overflow: hidden;
  width: 50%;
}
#up {
  position: absolute;
  z-index: -1;
}
#sliderInput {
  position: relative;
  margin: 0;
  width: 800px;
}

@media (max-width: 900px) {
  #sliderInput {
    position: relative;
    margin: 0;
    width: 300px;
  }
}

.myBtn {
  margin-top: 20px;
}

#fontLoader {
  display: flex;
  /* height: 700px; */
  justify-content: center;
  align-items: center;
}

#actualArt {
  width: fit-content;
  height: 537px;
  overflow: scroll;
}

.modal-body {
  display: flex;
  justify-content: center;
}

#message {
  color: yellow;
  font-size: 20px;
  margin-top: 20px;
}

.error1,
.error2 {
  color: #611a15;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background: #fdecea;
}
#error {
  color: rgb(97, 26, 21);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  visibility: hidden;
  background: rgb(253, 236, 234);
}

#loadingMessage {
  margin-top: 130px;
  font-weight: bold;
  color: white;
  font-size: 25px;
}
@media (max-width: 560px) {
  #loadingMessage {
    font-size: 24px;
  }
}
@media (max-width: 425px) {
  #loadingMessage {
    font-size: 20px;
  }
}

#downloadButton {
  padding: 10px 16px;
  background: white;
}

#thankyouImage {
  height: 80px;
  width: 80px;
  margin-top: 50px;
}
#thankyouText {
  text-align: center;
  color: white;
  margin-top: 13px;
  font-size: 17px;
}

#Showloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.file-pick-dropdown {
  display: inline-flex;
  background: #fff;
  height: 54px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  padding: 13px 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  align-items: center;
  position: relative;
  margin-top: -14px;
}
.file-pick-dropdown i {
  margin: 0;
}
.file-picker-dropdown {
  width: 220px;
  position: absolute;
  background: #fff;
  top: 111%;
  right: 0px;
  display: none;
  box-shadow: rgb(26 26 26 / 20%) 0px 0px 12px;
  border-radius: 4px;
}
.arrow-sign {
  font-size: 18px;
}
.file-picker-dropdown svg {
  height: 24px;
  width: 24px;
}
.file-picker-dropdown button,
.file-picker-dropdown a {
  border: none;
  width: 100%;
  border-radius: 4px;
  text-align: left;
  background: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 24px;
  list-style: none;
  height: 54px;
}
.file-picker-dropdown button:hover {
  background: #efefef;
}
#downloadButton svg {
  height: 25px;
}

.container2 {
  width: 100%;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#upload_img {
  margin: auto;
  margin-top: 16px;
  height: 67px;
  width: 98px;
  margin-bottom: 30px !important;
}

@media (max-width: 387px) {
  #inp {
    width: 90%;
  }
}
#saving {
  height: 59px;
  width: 209px;
  border: 3px solid white;
  background: rgba(90, 90, 90, 0.466);
}

.submit {
  padding: 14px 84px;
  margin-left: -1px;
}

@media (max-width: 592px) {
  .splitInput {
    width: 80%;
  }
}
@media (max-width: 506px) {
  #saving {
    margin-right: 13px;
  }
}

#splitList {
  height: auto;
  width: 80%;
  margin: auto;
  overflow: auto;
  margin-top: 45px;
}
#splitList ol li {
  color: white;
}
#splitList ol {
  float: left;
}
#splitList canvas {
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 100%;
}

.splitBtn {
  margin: 15px;
  padding: 11px 18px;
  width: 155px;
}
.loader-box {
  background: url('../spinner.gif');
  height: 70px;
  width: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
