_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
node_modules
_data/feature/ar/file.json
_data/feature/da/file.json
_data/feature/de/file.json
_data/feature/es/file.json
_data/feature/fr/file.json
_data/feature/hi/file.json
_data/feature/id/file.json
_data/feature/it/file.json
_data/feature/ja/file.json
_data/feature/ko/file.json
_data/feature/nl/file.json
_data/feature/pl/file.json
_data/feature/pt/file.json
_data/feature/ru/file.json
_data/feature/sv/file.json
_data/feature/th/file.json
_data/feature/tr/file.json
_data/feature/uk/file.json
_data/feature/vi/file.json
_data/feature/zh-tw/file.json
_data/feature/zh/file.json