{% assign height_value = page.height %}
{% assign width_value = page.width %}
<div class="container main-container">
  <div class="row g-3 megapixels_div">
    <div class="col-md-12">
      <div class="form-group">
        <label for="width">Desired width</label>
      <input type="number" class="form-control" placeholder="1024" aria-label="width" id="width" onkeyup="calculation()" value="1024">
    </div></div>
    <div class="col-md-12">
      <div class="form-group">
        <label for="">New height</label>
      <input type="number" class="form-control" placeholder="768" aria-label="height" id="height" readonly value="768">
    </div></div>
  </div>
  <div class="row g-3">
    <div class="col-md-12"><hr style="border-top-width:3px;"></div>
  </div>
  <div class="row g-3">
    <div class="col-md-12">
      <h2>Calculation</h2>
      <ul id="rs">
        <li id="dimensions" style="display: none;">Final Dimensions: <b style="color: #e83e8c;">0.50</b></li>
      </ul>
    </div>

  </div>
  <div class="row g-3">
    <div class="col-md-12"><hr style="border-top-width:3px;"></div>
  </div>
</div>

  <span id="get-value" data-height_value="{{height_value}}" data-width_value="{{width_value}}"></span>