<div class="container2">
  <div id="upper-loader"></div>

  <span id="content">
    <div class="row" id="qr_row">
      <div class="col col-md-12 col-sm-12 col-lg-12 col-xl-12">
        <div id="save_button_div"></div>
        <span id="qr_error_span"></span>

        <div id="qr_image">
          <span id="qr_output_span">
            <p>Output</p>
          </span>
        </div>
        <div id="qr_info">
          <div id="qr_info_heading">
            <p>Enter the value below</p>
          </div>
          <textarea spellcheck="false" name="" id="qr_info_input" cols="5000" rows="5000"
            placeholder="Enter your text, contact, url"></textarea>
        </div>
      </div>
    </div>
  </span>
  <span> </span>
  <div class="row" id="loaderDiv">
    <div class="col col-md-12 col-sm-12 col-lg-12 col-xl-12">
      <span id="loader"></span>
    </div>
  </div>
  <span class="thankyouBox"> </span>
</div>