<span id="content_2">
  <div class="container2_inner">
    <div class="m_header">Words : <span>0</span></div>
    <div class="main_divs left_div">
      <div class="left_div_inner">
        <img id="meme_img" src="" />
      </div>
    </div>
    <div class="main_divs right_div">
      <div class="text_div">
        Text:<br />
        <div class="inputs_div" style="width: 100%">
          <textarea name="" cols="30" rows="10" id="m_text"></textarea>
          <input type="color" id="m_color" />
        </div>
      </div>
      <div class="font_div">
        <div class="font_family">
          Font Family:<br />
          <select id="m_font_family">
            <option value="Arial">Arial</option>
            <option value="Impact">Impact</option>
            <option value="Arial Black">Arial Black</option>
            <option value="Comic Sans Ms">Comic Sans Ms</option>
            <option value="Times New Roman">Times New Roman</option>
            <option value="Trebuchet MS">Trebuchet MS</option>
          </select>
        </div>
        <div class="font_size">
          Font Size:<br />
          <input type="number" id="m_font_size" />
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons" id="style_btns">
          <label class="btn btn-secondary">
            <input type="checkbox" name="options" id="option1" autocomplete="off" class="m_bold" />
            <i class="fa fa-bold"></i>
          </label>
          <label class="btn btn-secondary">
            <input type="checkbox" name="options" id="option2" autocomplete="off" class="m_italic" />
            <i class="fa fa-italic"></i>
          </label>
        </div>
        <br />
      </div>
      <div class="color_div">
        <div class="bg_color_div">
          Text Bg:<br />
          <div class="bg_div_inner">
            <i class="fas fa-fill-drip"></i>
            <input type="color" name="" id="m_bg" value="#ffffff" />
          </div>
        </div>

        <div class="m_stroke">
          Stroke:<br />
          <div class="inputs_div">
            <input type="number" id="stroke_number" />
            <input type="color" id="stroke_color" />
          </div>
        </div>
        <div class="m_line_height">
          Line Height:<br />
          <div class="inputs_div">
            <input type="number" id="m_line_height" />
          </div>
        </div>
      </div>
      <div class="last_div">
        <div class="text_align_div">
          Align:<br />
          <select id="m_text_align">
            <option value="center">center</option>
            <option value="right">right</option>
            <option value="left">left</option>
          </select>
        </div>
        <div class="save_as_div">
          Save As:<br />
          <select name="" id="">
            <option value="png">png</option>
            <option value="jpg">jpg</option>
            <option value="jpeg">jpeg</option>
            <option value="webp">webp</option>
          </select>
        </div>
      </div>

      <div class="adding_btns">
        <a class="btn" id="reset_text">Reset Text</a>
      </div>
    </div>
    <div class="saving_div">
      <a class="btn" id="cancel" onclick="location.reload()">CANCEL</a><a class="btn" id="save">SAVE CHANGES</a>
    </div>
  </div>
</span>
<span class="thankyouBox"></span>