<div id="container">
    <div>
        <input class="button-51" id="theCode" type="text" placeholder="Type here">
    </div>

    <div id="asciiArt" >
        <!-- <pre></pre> -->
        <textarea id="outputText" class="button-50" name="output"></textarea>
    </div>
    <div>
        <input type="button" class="button-50" id="random" name="rendom" value="random" onclick="rendomfont()" />
        <input type="button" class="button-50" id="copyId" name="Copy" value="Copy" onclick = "copyText()" />
    </div>

    <div>
        <input type="button" class="button-50" id="pre" name="pre" value="<<" onclick="prefont()" />
        <select id="fontSelector" class="button-55" name="fontSelector"></select>
        <input type="button" class="button-50" id="next" name="next" value=">>" onclick="nextfont()" />
    </div>
</div>