---
layout: home
folderName: allpages
fileName: image-resizers-all
lang: th
permalink: /th/image-resizers-all
nointernationalization: true
---

<style>
    a:hover {
        text-decoration: underline;
    }
</style>

<div class="row m-0 mb-5">
    {% for item in site.data.feature.en %}
    {% if item[0] contains 'resize-image' %}
    <li class="col-md-3 py-2 conver-list" style="list-style: none;">
        <a href="/{{item[0]}}" style="color:#0d6efd!important;">
            {{ item[0] | replace: "-"," " |capitalize}}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</div>